<! -- email, username, year, branch, rollno, password -->

{% extends "events/register.html" %}

{% block title %}
	Login
{% endblock %}

{% block body %}
<div class="container">
	<h2>Login</h2>
<br>
    {% if message %}
        <div>{{ message }}</div>
        <br>
    {% endif %}

    <form action="{% url 'events:faculty_login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="email" name="email" placeholder="Registered Email Address">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
<br>
    Don't have an account? <a href="{% url 'events:faculty_register' %}">Register here.</a>
</div>
{% endblock %}
